{% extends 'productos/layout.html' %}

{% block content %}

    <h3 class="center-align red lighten-3">{{title}}</h3>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"><h4>Categoría</h4></th>
                <th scope="col"><h4>Descripción</h4></th>
                <th scope="col"></th>
            </tr>
        </thead>
        
        <tbody>
            {% for categoria in categorias %}
            <tr>
                <td class="collection-item"><a href="/productos/editarCategoria/{{categoria.id}}" style="color: white"><h5>{{categoria.name}}</h5></a></td>
                <td class="collection-item"><h5>{{categoria.desc}}</h5></td>
                <td class="collection-item"><a class="btn" href="/productos/borrar/{{categoria.id}}"  style="color: #b82601"><h5>Eliminar</h5></a></td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

    <br><br>
    <a style="display:block" class="center-align" href="/crearCategoria"><button class="btn btn-outline-info" style="color: white;"><h4>Crear categoría</h4></button></a><br>

{% endblock %}