{% extends 'productos/layout.html' %}

{% block content %}
<h1 class="center-align red lighten-3">Crear producto</h1><br>

<div >
    <div class="card-content">
        <h2>Ingresa los datos del producto</h2>
    </div>
    <div >
        <form action="" method="POST" class="form-group"> {% csrf_token %}
            <div class="form-group row">     

                <label class="col-sm-2 col-form-label"><h5>Producto</h5></label>
                    <div class="col-sm-10">
                        <input type="text" placeholder="Nombre del producto" name="name" required style="width: 38%">
                    </div>

                <label class="col-sm-2 col-form-label"><h5>Disponibles</h5></label>
                    <div class="col-sm-10">
                        <input type="number" required name="quantity" placeholder="Número de productos" style="width: 38%">
                    </div>

                <label class="col-sm-2 col-form-label"><h5>Costo</h5></label>
                    <div class="col-sm-10">
                        <input type="number" required name="cost" placeholder="Costo del producto" style="width: 38%">
                    </div><br><br><br>
                    <div class="col-sm-10">
                        <center><button class="btn btn-outline-info" style="color: white;" type="submit"><h4>Guardar</h4></button></center>
                    </div>
            </div>
        </form>
    </div>
</div>
<br>
<a href="/productos/" class="btn" style="color: white"><h5>Atrás</h5></a><br>

{% endblock %}